*.json
*.h5
*.hdf5
*.npz
*.pickle
*.pyc
*.jpg
*.csv
*.mp4

.data
.DS_Store
__pycache__
.ipynb_checkpoints

images/*
test1/*
test2/*
data/*
annotations/*
results/*/checkpoint
dust
jupyter_log
nohup.out
